<h2>Register Form</h2>
<form>
    <table>
        <tr> 
            <td>UserName:</td>
            <td><input type="text" [(ngModel)]="username" name="u"/></td>
        </tr>
        <tr> 
            <td>Password:</td>
            <td><input type="password" [(ngModel)]="password" name="u"/></td>
           
        </tr>
        <tr> 
            <td>Confirm Password:</td>
            <td><input type="password"  [(ngModel)]="password" name="p"/></td>
           
        </tr>
       
        <tr>
            <td>
                <button (click)="onRegister()">Register</button>
            </td>
           
        </tr>
    </table>
</form>
<h1>{{msg}}</h1>
